.eventList {
  flex:4;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2px);
  border: 1px solid black;
}

.inputRow {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  height: 25px;
  border-bottom: 1px solid gray ;
}

.input {
  flex:1;
}

.displayList {
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-wrap: nowrap;
  overflow: scroll;
  list-style: none;
}

.event {
  text-align: center;
  margin: 5px auto;
  width:300px;
  padding:10px 16px;
  background:#ccc;
  border-radius:5px;
}

.eventTitle {
  font-weight: bold;
  border-bottom: 1px dashed grey;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 4px;
}

.eventHost,
.eventLoc {
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 0;
}

.eventDate {
  margin-top: 5px;
  margin-bottom: 10px;
}
