
.calendar {
  flex:2;
  /*height: calc(100vh - 2px);*/
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
}

.topBar {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  border-bottom: 1px solid gray ;
}

.topText {
  margin: auto 0;
}

.topButton {
  border:none;
  background: none;
  margin:0;
  height: 30px;
}

.calendarYearly {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.calendarQuarterly {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  flex: 1 1 auto;
  height: 0px;
}

.calendarMonthly {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  flex: 1 1 auto;
  height: 0px;
}

.quarter {
  width:100%;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
}

.year {
  text-align: center;
  margin: 0;
  padding:16px 0;
}

.month {
  text-align: center;
  margin: 0;
  display: flex;
}

.monthText {
  margin: auto;
}

.year:hover,
.month:hover,
.quarter:hover .month {
  color:blue;
  background: cyan;
}

.year.selected,
.month.selected,
.quarter.selected .quarterNo,
.quarter:hover .quarterNo,
.quarter.selected .month {
  color:white;
  background: blue;
}

.quarterNo {
  background: cyan;
  padding:5px;
  border-right:1px solid cyan;
}


.quarter.selected .quarterNo {
  border-right:1px solid white;
}

